.hidden{
    display: none;
}

body{
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
ul{
    list-style-type: none;
}
#SI{
    background-color: transparent;
    border-color: transparent;
}
.center-text{
    text-align: center;
}
.text-deco{
    color: white;

}
#clock{
    font-size: 800%;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}
#greeting{
    margin-top: 0;
    padding-top: 0;
    font-size: 200%;
    font-weight: 600;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

#quote span:first-child{
    font-size: 30px;
    font-weight: 800;
  }
#quote span:last-child{
    font-size: 15px;
    font-weight: 600;
  }

#weather{
    padding-top: 10%;
    padding-right: 5%;
    font-size: 100%;
    height: 60px;
    text-align:right;
}
button{
    background-color: transparent;
    border-color: transparent;
}
